.interactive-sidebar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  background-image: url('/general_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3200;
  transition: 0.3s ease;
  overflow: hidden;
}

#left-side-bar {
  position: fixed;
  top: 65px;
  right: 0;
  width: 200px;
  height: calc(100vh - 65px);
  background-image: url('/general_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3200;
  transition: 0.3s ease;
}

.interactive-sidebar {
  position: relative;
  overflow: hidden;
  background-color: #151615;
  background-image: none;
}

#left-side-bar .brand-icon {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

#left-side-bar li {
  background-color: transparent;
  margin-left: 0.5rem;
  border-radius: 48px 0 0 48px !important;
  padding: 0.35rem 0 0.35rem 0.35rem;
}

#left-side-bar .anchor {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: #fff !important;
  white-space: nowrap;
  overflow-x: hidden;
}

#left-side-bar .active {
  color: #ab5edc !important;
  font-weight: bolder;
}

.active:not(.interactive-sidebar .active)::after {
  content: "";
  margin-left: 20px;
  font-weight: bolder;
  border: 4px solid;
  border-radius: 100%;
}

#left-side-bar.hide .anchor {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#left-side-bar .anchor:hover {
  color: #ab5edc !important;
}

#left-side-bar .brand {
  min-width: 60px !important;
  display: flex !important;
  justify-content: center !important;
}

.interactive-sidebar {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.interactive-sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.interactive-sidebar ul a {
  position: relative;
  width: 100%;
  height: 48px;
  border-radius: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.interactive-sidebar ul a.active {
  background-color: #fff;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.interactive-sidebar ul a:not(.interactive-sidebar a.active):hover svg path, .downLoad:hover svg path {
  fill: #FFD700;
}

.interactive-sidebar ul a:hover {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.active .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151615;
  padding: 0.5rem;
  border-radius: 100%;
}

.interactive-sidebar ul a.active svg path {
  fill: white;
}
